/*
   Color values for halcyon:
   Body: R:219 G:41 B:44
   Feather 1: R:36 G:209 B:248
   Feather 2: R:51 G:57 B:195
   Feather 3: R:21 G:141 B:144 */

html {
  font-size: 22px;
  color: white;
}
/*==============
     Bodies
==============*/

/** {
  outline: 2px solid red;
}*/

p, h1, h2, h3, h4, h5, h6, a, li, ul, ol, div {
  font-family: 'Montserrat', sans-serif;
  color: white;

}

body#index {
  width: 100%;
  height: 100%;
  background: url(images/toppic.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
}

body#aboutus {
  width: 100%;
  height: 100%;
  background: url(images/rocksky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

body#products {
  width: 100%;
  height: 100%;
  background: url(images/rocksky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
}

body#contact {
  width: 100%;
  height: 100%;
  background: url(images/rocksky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
}

/*=================
   Index Header
=================*/

header {
  width: 100%;
  height: 20%;
  padding-bottom: 2%;
  color: white;
}

header h1 {
  font-family: 'ABeeZee', sans-serif;
}

header a.col-1.p-3 img {
  padding-right: 0px;
}

header ul h1 {
  padding-left: 0px;
}

/*=================
 Index(Page 1) Divs
==================*/
div#navheader {
  padding-left: 2%;
  padding-right: 2%;
}

div#navheader>ul#links {
  margin-left: auto;
  color: white;
}

div#navheader ul#links li {
  /*width: 120px;*/
  height: 40px;
}

div#aboutus.container {
  width: 80%;
}

div#aboutus.container img {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

div#aboutus.container img.bio {
  float: left;
  /*padding-top: 15px;*/
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  /* border: 2px solid white;
  border-radius: 3%; */
}

div.bio p {
  padding-left: 15px;
  margin-right: 15px;
}

article.story p {
  clear: right;
  text-align: center;
}

body#products h1 {
  text-align: center;
}

body#products h1#name {
  width: 200px;
}

body#products input {
  background-color: rgba(0,0,0,0);
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid white;
}

body#products input:hover {
  background-color: white;
  color: white;
}

div#pg1part1 {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  height: 750px;
}

p#mission, h2#mission {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

body#products div.pbox {
  align-items: center;
  justify-content: center;
  padding-left: 90px;
}

body#products h5, body#products h6 {
  padding-right: 90px;
}

h2#mission {
  font-size: 54px;
}

p#mission {
  font-size: 32px;
  height: 250px;
  line-height: 185%;
}

div#pg1part3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(192, 192, 192, .5));
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 500px;
  /*color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;*/
}

div#pg1part3.contact {
  height: 75px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(192, 192, 192, .5));
}

body#contact div#involved a, body#contact div#informed a  {
  color: blue;
  text-decoration: none;
}

body#contact div#involved a:hover, body#contact div#informed a:hover {
  -webkit-filter: opacity(0.4);
  filter: opacity(0.4);
  -webkit-transition: .3s;
  transition: .3s;
}

div#form form {
  /* align-content: center; */
  width: 80%;
  /* padding-left: 400px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div#form form textarea {
  /* background: none; */
}

div#pg1part3 {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

h2 {
  text-align: center;
  font: 24em;
}

header h1 {
  font-family: 'ABeeZee', sans-serif;
}

/** {outline: 1px solid red;}*/

ul li {
 padding-top: 5px;
}

p#mission {
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}

ul li.nav-link {
  padding-right: 155px;
  padding-left: 155px;
}

a#noDecor {
  text-decoration: none;
  color: white;
}

footer p {
  padding-left: 360px;
  padding-right: 360px;
}

section.third div#container ul li {
  border: 25px;
}

section.third div#container ul li p {
  padding-left: 25px;
}

section.third div#container ul li img {
   display: block;
   border: 25px;
}

h2, h3, h4{
  text-align: center;
}

.col-lg-4{
 text-align: center;
}

h1#title {
  font-size: 64px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

h1#storyTitle {
  text-align: center;
}

div#navheader ul#links li:hover {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
  -webkit-transition: .3s;
  transition: .3s;
  color: rgb(227, 150, 0);
}

footer {
  text-align: center;
  background-color: rgba(192, 192, 192, .5);
  height: 150px;
  width: 100%;
}

footer p {
  font-size: 16px;
}

div#pg1part2 ul li a img {
  -webkit-filter: grayscale(99%);
  filter: grayscale(99%);
  /* -webkit-transition: .5s;
  transition: .5s; */
}

div#pg1part2 ul li a img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  -webkit-transition: .5s;
  transition: .5s;
}

div#placeholder {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(192, 192, 192, .5));
  height: 100px;
}

footer ul li a img {
  -webkit-filter: grayscale(99%);
  filter: grayscale(99%);
  /* -webkit-transition: .5s;
  transition: .5s; */
}

/* footer ul li a img:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
  -webkit-transition: .5s;
  transition: .5s;
} */


footer ul li {
  padding-left: 20px;
  padding-right: 20px;
}

img.carousel{
  border: 2.5px solid white;
  border-radius: 3%;
}

#cart{
  display: flex;
  align-items: flex-end;
  padding-left: 1100px;
}
